*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    width: 90%;
    max-width: 1000px;
    justify-content: space-around;
    display: flex;
    height: 100px;
    align-items: center;
}

div.LOGO{
    color: white;
    padding: 20px;
    text-align: center;
}

nav{
    background-color: red;
    display: flex;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

nav a{
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

div.elpapu{
    flex-wrap: wrap;
    display: flex;
    max-width: 1000px;
}

main{
    width: 68%;
    padding: 20px;
}

main article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 24px;
}

main article.Uno {
    border-bottom: 1px solid #000;
}

hr{
    width: 660px;
    padding: 15px;
}

aside{
    width: 32%;
    background-color: orange;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.Img1 img{
    width: 300px;
    padding: 20px;
}

section.Img2 img{
    width: 300px;
    padding: 20px;
    padding-top: 0px;
}

footer{
    background-color: black;
    width: 90%;
    max-width: 1000px;
    justify-content: space-between;
    display: flex;
    height: 100px;
    padding: 20px;
    align-items: center;
}

footer div.Titulo{
    color: white;
    padding: 20px;
    text-align: center;
}

footer div.RRSS{
    text-align: center;
    background-color: orange;
    padding: 20px;
}

footer div.RRSS a{
    text-decoration: none;
    color: white;
}

footer div.RRSS a:hover{
    text-decoration: underline;

}

footer div.RRSS a.FB{
    padding-right: 10px;
}